.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container textarea,
.container input,
.container select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--text);
}

.container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-weight: bold;
    transition: background-color 0.25s ease;
}

.container button:hover {
    background-color: hsl(34, 98%, 50%);
}