.container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.title{
    font-weight: bold;
    color: gray;
}

.username{
    font-weight: 500;
    color: var(--btn)
}