.container{
    display: flex;
    gap: 100px;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.img{
    object-fit: cover;
}

.textContainer{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 64px;
    color: var(--btn)
}

.detail{
    display: flex;
    gap: 20px;
}

.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle{
    font-weight: bold;
    color: gray;
}

.detailValue{
    font-weight: 500;
}

.content{
    font-size: 20px;
}

@media (max-width: 768px){
    .imgContainer{
        display: none;
    }
}